<div class="bg-light border border-secondary p-3 rounded m-3">
<div class="p-3 mb-2 bg-warning text-dark"> 
     <h1>Brandeis Dining Hall Food Review</h1>
</div>
    <h6> This CPA is a simple dining hall food review app.</h6>
    <br>
<form 
    method="post" action="/foodreview">
    <h4> How did you like the food today? </h4>
    <textarea 
        name = "foodreview" rows="8" cols="40">
    </textarea>
    <br>
    <br>
    <button type="Submit" class="btn btn-danger"> Submit </button>
</form>
